model_list:
  - model_name: gpt-4o
    litellm_params:
      model: openai/gpt-4o

  - model_name: claude-3-5-sonnet
    litellm_params:
      model: anthropic/claude-3-5-sonnet-20241022

general_settings:
  master_key: sk-1234
#   database_url: "sqlite:///litellm.db"

litellm_settings:
  drop_params: true
  set_verbose: false
