spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ttibu_prod}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  task:
    execution:
      pool:
        core-size: 10
        max-size: 20
        queue-capacity: 100

server:
  port: ${SERVER_PORT:8080}
  servlet:
    session:
      cookie:
        secure: true
        same-site: None

app:
  security:
    csrf-mode: token

logging:
  level:
    org.springframework.data.mongodb.core.MongoTemplate: WARN
    org.hibernate.SQL: WARN
    org.springframework.web: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false